<div *ngIf="movieDetail" 
  class="container main-container animated fadeIn fast">
  <h1> {{ movieDetail.original_title}}</h1>
  <div class="row">
    <div class="col-md-5">
      <img [src]="movieDetail  | movieImg:true " 
        alt="movieDetail.orinigal_title"
        class="img-thumbnail img-fluid">
    </div>

    <div class="col-md-7">
      <h3>Synopsis</h3>
      <hr>
      <p class="text-justify">
        {{ movieDetail.overview }}
      </p>
      <p>
        {{ movieDetail.tagline }}
      </p>
      <p>
        Ranking: <span class="badge badge-primary">{{ movieDetail.popularity | number:'.0-0'}} / 10</span>
        <br>
        Votes average: <span class="badge badge-primary">{{ movieDetail.vote_average }}</span>
      </p>

      <button type="button" class="btn btn-outline-danger"
          [routerLink]="['/'+backTo, searchtext]" >
        Back
      </button>
    </div>

  </div>
</div>